name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # ---------------- JAVA ----------------
    - name: Force Java 17
      run: |
        echo "JAVA_HOME=/usr/lib/jvm/temurin-17-jdk-amd64" >> $GITHUB_ENV
        echo "/usr/lib/jvm/temurin-17-jdk-amd64/bin" >> $GITHUB_PATH

    # ---------------- ANDROID SDK ----------------
    - name: Set Android SDK path
      run: |
        echo "ANDROID_HOME=/home/runner/android-sdk" >> $GITHUB_ENV
        echo "ANDROID_SDK_ROOT=/home/runner/android-sdk" >> $GITHUB_ENV
        echo "/home/runner/android-sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH

    - name: Install Android command-line tools
      run: |
        mkdir -p /home/runner/android-sdk/cmdline-tools
        cd /home/runner/android-sdk/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
        unzip commandlinetools-linux-11076708_latest.zip
        mv cmdline-tools latest
        

    - name: Set up Android SDK
      uses: android-actions/setup-android@v2
    - name: Accept Android SDK licenses
      run: yes | sdkmanager --licenses


   # - name: Accept Android SDK licenses
    #  run: |
   #     yes | sdkmanager --licenses

     

    - name: Install Android SDK packages (AIDL FIX)
      run: |
        sdkmanager \
          "platform-tools" \
          "platforms;android-33" \
          "build-tools;33.0.2" \
          "ndk;25.2.9519653"

    # ---------------- PYTHON ----------------
    - name: Install Python tools
      run: |
        pip install --upgrade pip
        pip install --upgrade buildozer virtualenv
        pip uninstall -y cython || true
        pip install "cython<3"

    # ---------------- CLEAN ----------------
    - name: Hard clean buildozer cache
      run: |
        rm -rf ~/.buildozer
        rm -rf ~/.cache/python-for-android

    # ---------------- BUILD ----------------
    - name: Build APK
      env:
        ANDROID_HOME: /home/runner/android-sdk
        ANDROID_SDK_ROOT: /home/runner/android-sdk
      run: |
        buildozer -v android debug

    # ---------------- UPLOAD ----------------
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: python-pos-apk
        path: bin/*.apk
