name: Build Android APK

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            python3-dev \
            python3-pip \
            openjdk-17-jdk \
            unzip zip \
            pkg-config \
            autoconf \
            automake \
            libtool \
            libtool-bin \
            m4 \
            gettext \
            autopoint \
            libffi-dev \
            libssl-dev \
            libbz2-dev \
            liblzma-dev \
            zlib1g-dev \
            libsqlite3-dev \
            libncurses5-dev \
            libncursesw5-dev \
            libreadline-dev \
            libxml2-dev \
            libxslt1-dev \
            llvm \
            clang
            
          pip install --upgrade pip
          pip install buildozer cython virtualenv

      - name: Hard clean buildozer
        run: |
          rm -rf ~/.buildozer

      - name: Build APK
        env:
          ANDROID_HOME: /home/runner/.buildozer/android/platform/android-sdk
          ANDROID_SDK_ROOT: /home/runner/.buildozer/android/platform/android-sdk
          ANDROID_NDK_HOME: /home/runner/.buildozer/android/platform/android-ndk-r25b
          ANDROID_NDK_ROOT: /home/runner/.buildozer/android/platform/android-ndk-r25b
        run: |
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: python-pos-apk
          path: bin/*.apk
